<div  class="modaloverlay bg-white d-flex flex-column  align-items-center " >
    <div class="iconContainer d-flex  m-5 mb-0 ms-auto">
        <span  class="material-symbols-outlined d-flex fs-1 closeIcon">close</span> 
    </div>
    <ul class="nav flex-column text-center col-11 m-0 p-0  fs-5">
        <li class="nav-item">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Gemstones</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Minerals</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Bidding Rules</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Payment & Shipping</a>
        </li>
        <li class="nav-item">
            <a class="nav-link orange" href="#">Sale</a>
        </li>
    </ul>
    <ul class="nav flex-column text-center border-top border-dark col-11 my-3 fs-5">
        <li class="nav-item mt-3">
            <a class="nav-link" href="#">Contact & FAQ</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Services</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">How to sell</a>
        </li>
    </ul>
    <div class="menuFooter d-flex flex-column row text-center justify-content-center align-items-center mt-5 gap-2">
        <a href="#" class="loginBtn text-white rounded-0 px-4 py-1">Login</a>
        <a href="#" class="text-muted fs-7">Forgot your password?</a>
        <a href="#" class="fw-bold fs-7">Not registered yet? Sign up now.</a>
    </div>

</div>