
#shopBtn {
    background-color: $brightorange;
}
#shopBtn:hover {
    background-color: $hoverorange;
}
#loadBtn {
    border-color: $brightorange;
    color: $brightorange;
}
#loadBtn:hover {
    border-color: $hoverorange;
    color: $hoverorange;
}