
#mobileMenuOverlay {
    font-family: Lato;
    position: fixed;
    transform: translateX(100%);
    z-index: 1000;
    transition: 1s all ease-in-out;
    min-height: 100vh;
    min-width: 100vw;
    border: none;
    top: 50px;
    left: 0;
    overflow-y: auto;
   
   .nav-link {
        color: $darkgrey; 
    }
    .nav-link.orange {
        color: $brightorange;
    } 
    
}
#mobileMenuOverlay.show {
    transform: translateX(0%);
    

}
