#mobileMenuOverlay {
    font-family: Lato;
    position: absolute;
    transform: translateX(-100%);
    z-index: 1000;
    transition: 1s all ease-in-out;
    .nav-link {
        color: $darkgrey;
    }
    .orange {
        color: $brightorange;
    }
    #loginBtn {
        background-color: $forestgreen;
    }
    .menuFooter a {
        font-size: 11px;
    }
}