.modaloverlay {
    font-family: Lato;
    position: fixed;
    transform: translateX(100%);
    z-index: 1000;
    transition: .7s all ease-in-out;
    height: 100vh;
    width: 100vw;
    top: 0;
   
   
   .nav-link {
        color: $darkgrey; 
    }
    .nav-link.orange {
        color: $brightorange;
    } 
   
    #loginForm {
    display: flex;
    }
    #registerForm {
    display: none;
    }
    form {
    width: 90%;
    }
   
}
.modaloverlay.show {
    transform: translateX(0%);
     overflow-y: auto;
     -webkit-overflow-scrolling: touch;

}
 #loginForm input, #registerForm input {
    outline: none;
    box-shadow: none;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-radius: 0;
    
   
}
input, textarea {
   box-shadow: none !important; 
   outline: none !important;
   border-color: $darkgrey;
}
input:focus, input:active, textarea:focus, textarea:active {
        border-color: $brightorange !important;
        box-shadow: none !important; 
        outline: none !important;
}
.bidInput {
    border: none;
    background-color: $lightgrey;
    padding:  6px;
}
.toastalert {
    position: absolute;
    display: none;
    border: 2px solid;
    justify-content: center;
    align-items: center;
    height: 200px;
    min-width: 300px;
    max-width: 500px;
    background-color: $sand;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
}
 .success {
        border-color: green;
    }
    
    .error {
        border-color: red;
    }
.list-group-item {
    display: flex;
    gap: 5px;
    &::before {
        width: 20px; // Width of the number space
        margin-right: 5px; // Space between the number and content
        content: counter(list-item) ". "; // Ensure numbers appear correctly
        counter-increment: list-item; // Increment counter for each list item
    }
    img {
        width: 24px;
        height: 24px;
        border-radius: 20px;
    } 
   
} 